[submodule "DefiLlama-Adapters"]
	path = defi/DefiLlama-Adapters
	url = https://github.com/DefiLlama/DefiLlama-Adapters.git
[submodule "defi/dimension-adapters"]
	path = defi/dimension-adapters
	url = https://github.com/DefiLlama/dimension-adapters.git
[submodule "defi/emissions-adapters"]
	path = defi/emissions-adapters
	url = https://github.com/DefiLlama/emissions-adapters.git
